/* Gerais */
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: hsl(275, 96%, 22%);
    --secondary-color: hsl(275, 62%, 59%);
}

/* Tags */
nav ul li {
    padding: 50px 20px;
}

nav ul li:hover {
    background-color: var(--secondary-color);
    font-weight: bold;
}
/* Classes */
.background-cor-primaria {
    background-color: var(--primary-color);
}

.background-cor-secundaria {
    background-color: var(--secondary-color);
}

.background-cor-terciaria {
    background-color: var(--tertiary-color);
}