* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-color: hsl(275, 96%, 22%);
    --cardElements: #fff;
    font-size: 62.5%; /* 1rem = 10px*/

    --nav-height: 7.2rem;
}

h1 {
    font-size: 3rem;
}

.card {
    
}

.card-body{
    font-size: 1.8rem;
}